Backend/prediction/final_manual_tuned.json filter=lfs diff=lfs merge=lfs -text
Backend/prediction/data/mol_fingerprint.parquet filter=lfs diff=lfs merge=lfs -text
*.backup filter=lfs diff=lfs merge=lfs -text
