:root{

--bg:#F8F5EF;

--surface:#FFFDF8;

--navbar:#20242D;

--primary:#3B82F6;

--success:#10B981;

--text:#1F2937;

--text-light:#6B7280;

--border:#E7E5E4;

--radius-sm:10px;
--radius-md:14px;
--radius-lg:18px;

--shadow-sm:0 2px 8px rgba(0,0,0,.05);

--shadow-md:0 10px 30px rgba(0,0,0,.08);

}